body{
    text-align: center;
    font-family: "Roboto", sans-serif;
}
h1{
    font-weight: 400;
    font-style: normal;
}
span{
    color: blue;
}
h2{
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 40px;
}
div{
    display: inline-block;
    font-style: normal;
    font-size: 16px;
    background-color: black;
    color: white; 
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: 0.3s;
}


p{
    display: inline-block;
    margin-left: 10px;
}
img{
    display: inline-block;
    margin-right: 10px;
}
div:hover{
    background-color: red;
}
div{
    display: inline-block;
    font-style: normal;
    font-size: 16px;
    background-color: black;
    color: white; 
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: 0.3s;
}